<!Doctype>
<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>

    

<h1>{{title}} Todo</h1>
<p>Welcome to {{title}} Todo Page</p>

<form method="POST" action="">
    <label>Enter id on which u want to perform updation : </label><input type="text" name="eid" id="" />
    <br/>
    <label>New Text : </label><input type="text" name="text" id="" />
    <br/>
    <button type="submit" name="submit" value="ok">click me to update</button>

</form>

<p>Status : {{msg}}</p>

</body>
</html>